In [6]:
str1 = "Hello"
str2 = "priyanka"
concatenated_string = str1 + " " + str2
print("Concatenated string:", concatenated_string)

Concatenated string: Hello priyanka

In [7]:
name = "priyanka"
age = 20
formatted_string = "Name: %s, Age: %d" % (name, age)
print("Formatted string:", formatted_string)

Formatted string: Name: priyanka, Age: 20

In [8]:
from string import Template
template = Template('Name: priyanka,age: 19')
formatted_string = template.substitute(name=name, age=age)
print("Formatted string:", formatted_string)

Formatted string: Name: priyanka,age: 19

In [9]:
formatted_string = "Name: {}, Age: {}".format(name, age)
print("Formatted string:", formatted_string)

Formatted string: Name: priyanka, Age: 20

In [10]:
result_add = 5 + 5
print("Addition result:", result_add)

Addition result: 10

In [11]:
result_sub = 74 - 3
print("Subtraction result:", result_sub)

Subtraction result: 71

In [12]:

result_mul = 7 * 9
print("Multiplication result:", result_mul)

Multiplication result: 63

In [13]:
result_div = 10 / 5
print("Division result:", result_div)

Division result: 2.0

In [14]:
result_exp = 3 ** 5
print("Exponentiation result:", result_exp)

Exponentiation result: 243

In [15]:
result_mod = 24 % 2
print("Modulus result:", result_mod)

Modulus result: 0

In [16]:
x = 10
x -= 3
print("After subtraction assignment:", x)

After subtraction assignment: 7

In [17]:
y = 5
y *= 2
print("After multiplication assignment:", y)

After multiplication assignment: 10

In [18]:
z = 15
z /= 4
print("After division assignment:", z)

After division assignment: 3.75